@model cReg_WebApp.Models.ViewModels.CourseViewModels.CourseDetailViewModel

<div>
    <h4>Course Details</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.courseName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.courseName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.courseDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.courseDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.availableSpace)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.availableSpace)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.avgRating)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.avgRating)
        </dd>
    </dl>
</div>
