@model cRegis.Web.ViewModels.ProfileViewModel
@{
    ViewData["Title"] = "Profile";

    if (null != TempData["alertMessage"])
    {
        <script type="text/javascript">
       alert('@TempData["alertMessage"]');
        </script>
    }
}

<h1>Welcome, @Model.thisStudent.name</h1>
<div class="container">
    
    <ul class="list-group">
        <li class="list-group-item">Student Name : @Model.thisStudent.name</li>
        <li class="list-group-item">Student Id : @Model.thisStudent.studentId</li>
        <li class="list-group-item">Major : @Model.majorName</li>
        <li class="list-group-item">Credit hours remaining : @Model.remainingCreditHours</li>
    </ul>

    <div>

    </div>
    <h3>Registered Courses</h3>

    <div class="container">

        @foreach (var courseVM in Model.cViewModels)
        {
            @await Html.PartialAsync("_courseContainer", courseVM);
        }

    </div>

</div>