@model cRegis.Web.ViewModels.CourseContainerViewModel
@using cRegis.Web.Interfaces;

<div class="card row mt-3">
    <div class="card-header col-12">
        @Model.courseName
    </div>
    <div class="card-body col-12">
        <div class="row">
            <div class="col-8">
                <h5 class="card-title">@Model.courseDescription</h5>
                <p class="card-text">Description is under development</p>
            </div>
            <div class="col-4 align-self-center">
                <div class="row justify-content-around">

                    @if (Model.actions.Contains(CourseActions.ViewDetail))
                    {
                        <a class="btn btn-info" asp-controller="course" asp-action="Detail" asp-route-cid="@Model.courseId">Detail</a>
                    }
                    @if (Model.actions.Contains(CourseActions.RateCourse))
                    {
                        <a class="btn btn-primary" asp-controller="course" asp-action="rate" asp-route-eid="@Model.enrollId">Rate</a>
                    }
                    @if (Model.actions.Contains(CourseActions.DropCourse))
                    {
                        <script type="text/javascript">
                            function Confirm(){
                                if (confirm("Do you want to drop course?")){
                                     location.href = "/Course/Drop?eid=@Model.enrollId";
                                }else{
                                          return false;
                                }
                            }
                        </script>
                        <button class="btn btn-danger" onclick="Confirm()">Drop</button>
                    }
                    @if (Model.actions.Contains(CourseActions.RegisterCourse))
                    {
                        <a class="btn btn-warning" asp-controller="course" asp-action="register" asp-route-cid="@Model.courseId">Register</a>
                    }
                    @if (Model.actions.Contains(CourseActions.AddToWishlist))
                    {
                        <a class="btn btn-danger" asp-controller="course" asp-action="AddToWishlist" asp-route-cid="@Model.courseId">Add To Wishlist</a>
                    }
                    @if (Model.actions.Contains(CourseActions.WishlistPriorityUp))
                    {
                        <a class="btn btn-light" asp-controller="course" asp-action="moveInWishlist" asp-route-cid="@Model.courseId" asp-route-direction="@CourseActions.WishlistPriorityUp">⮝</a>
                    }
                    @if (Model.actions.Contains(CourseActions.WishlistPriorityDown))
                    {
                        <a class="btn btn-light" asp-controller="course" asp-action="moveInWishlist" asp-route-cid="@Model.courseId" asp-route-direction="@CourseActions.WishlistPriorityDown">⮟</a>
                    }
                    @if (Model.actions.Contains(CourseActions.RemoveFromWishlist))
                    {
                        <a class="btn btn-danger" asp-controller="course" asp-action="RemoveFromWishlist" asp-route-cid="@Model.courseId">🗙</a>
                    }
                </div>
             </div>
        </div>
    </div>
</div>
