@model cReg_WebApp.Models.entities.Student
@{

    ViewData["Title"] = "Student Profile";
    ViewData["Name"] = @ViewBag.stu.Name;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <style>
        table, th {
            border: 1px solid black;
        }
    </style> 

    @*Most Data is just for show and not actually dynamic yet*@

<div style="float : left; margin-left: 2%;">
    <h1 class="display-4" align="left">Welcome @Html.DisplayFor(model => model.Name)</h1>
    <table class="table">
        <tr>
            <td>
                <h5>Student Id</h5>
            </td>
            <td>
                @Html.DisplayFor(model => model.StudentId)
            </td>
        </tr>
        <tr>
            <td>
                <h5>Major</h5>
            </td>
            <td>
                <p>MicroBiology</p>
            </td>
        </tr>
        <tr>
            <td>
                <p>Minor</p>
            </td>
            <td>
                <p>Biology</p>
            </td>
        </tr>
        <tr>
            <td>
                <h5>Degree Year</h5>
            </td>
            <td>
                <p>1</p>
            </td>
        </tr>
        <tr>
            <td>
                <h5>Credit hours remaining</h5>
            </td>
            <td>
                <p>120</p>
            </td>
        </tr>
        <tr>
            <td>
                <h5>Current Balance</h5>
            </td>
            <td>
                <p>80,000$</p>
            </td>
        </tr>
    </table>

  <p>Registered Courses</p>

<table class="table">
    <tbody>
        @foreach (var item in ViewBag.registeredCourses)
        {
            <tr>
                <td>
                    @item.CourseName
                </td>
                <td>
                    @item.CourseId
                </td>
                <td>
                    @item.CourseDescription)
                </td>
                <td>
                    <a asp-action="CourseInfo" asp-route-name="@item.CourseName">View Course</a>
                </td>
            </tr>
        }
    </tbody>
</table>

</div>

    <div style="float : right;  margin-right: 2%;">
        <h1 class="display-4" align="left">Your Schedule</h1>
        @*Calendar element to be imported*@
        <table style="border: 1px solid black;">
            <tr>
                <th>Monday</th>
                <th>Tuesday</th>
                <th>Wednesday</th>
                <th>Thursday</th>
                <th>Friday</th>
                <th>Saturday</th>
                <th>Sunday</th>
            </tr>
            <tr>
                <th>1</th>
                <th>2</th>
                <th>3</th>
                <th>4</th>
                <th>5</th>
                <th>6</th>
                <th>7</th>
            </tr>
            <tr>
                <th>8</th>
                <th>9</th>
                <th>10</th>
                <th>11</th>
                <th>12</th>
                <th>13</th>
                <th>14</th>
            </tr>
            <tr>
                <th>15</th>
                <th>16</th>
                <th>17</th>
                <th>18</th>
                <th>19</th>
                <th>20</th>
                <th>21</th>
            </tr>
            <tr>
                <th>22</th>
                <th>23</th>
                <th>24</th>
                <th>25</th>
                <th>26</th>
                <th>27</th>
                <th>28</th>
            </tr>
            <tr>
                <th>29</th>
                <th>30</th>
                <th>31</th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </table>
    </div>

    



