@model cReg_WebApp.Models.ViewModels.ProfileViewModel
@{

    ViewData["Title"] = "Index";
    ViewData["studentId"] = Model.thisStudent.studentId;
    ViewData["Name"] = Model.thisStudent.name;
    ViewData["majorName"] = Model.majorName;
    if (null != TempData["alertMessage"])
    {
        <script type="text/javascript">
       alert('@TempData["alertMessage"]');
        </script>
    }
}

<h1>Welcome, @Model.thisStudent.name</h1>
<div class="container">
    
    <ul class="list-group">
        <li class="list-group-item">Student Name : @Model.thisStudent.name</li>
        <li class="list-group-item">Student Id : @Model.thisStudent.studentId</li>
        <li class="list-group-item">Major : @Model.majorName</li>
        <li class="list-group-item">Credit hours remaining : @Model.remainningCreditHours</li>
    </ul>

    <div>

    </div>
    <h3>Registered Courses</h3>

    <div class="container">

        @foreach (var item in Model.keyValues)
        {
            <div class="card row mt-3">
                <div class="card-header col-12">
                    @Html.DisplayFor(Model => item.Value.courseName)
                </div>
                <div class="card-body col-12">
                    <div class="row">
                        <div class="col-8">
                            <h5 class="card-title">@Html.DisplayFor(Model => item.Value.courseDescription)</h5>
                            <p class="card-text">Description is under development</p>
                        </div>
                        <div class="col-4 align-self-center">
                            <div class="row justify-content-end">
                                <div class="col-6">
                                    <a class="btn btn-primary" asp-controller="course" asp-action="DropDetails" asp-route-eid="@item.Key">View Course</a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        }

    </div>

</div>