@model cReg_WebApp.Models.ViewModels.HomeViewModels.FindCourseViewModel
@{
    ViewData["Title"] = "Register Page";
    ViewData["studentId"] = Model.thisStudent.studentId;
    ViewData["Name"] = Model.thisStudent.name;
    ViewData["majorName"] = Model.majorName;
}
<html>
@ViewBag.message
<body>
    <div>
        <ul style="list-style-type: none">
            <li>Student's Name:  @ViewData["Name"]</li>
            <li>Student's ID:  @ViewData["studentId"]</li>
        </ul>
    </div>


    <table class="table">
        <thead>
            <tr>
                <th>
                    Course Code
                </th>
                <th>
                    Course Name
                </th>
                <th>
                    Actions
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.courseList)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.courseName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.courseDescription)
                    </td>
                    <td>
                        <a asp-controller="course" asp-action="RegisterDetails" asp-route-cid="@item.courseId">View Course</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</body>
</html>