@model IEnumerable<cReg_WebApp.Models.entities.Course>
@{
    ViewData["Title"] = "Register Page";
}
<html>
@ViewBag.message
<body>
    <div>
        <ul style="list-style-type: none">
            <li>Student's Name:  @ViewData["Name"]</li>
            <li>Student's ID:  @ViewData["studentId"]</li>
        </ul>
    </div>


    <table class="table">
        <thead>
            <tr>
                <th>
                    Course Code
                </th>
                <th>
                    Course Name
                </th>
                <th>
                    Actions
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.courseName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.courseDescription)
                    </td>
                    <td>
                        <a asp-controller="Course" asp-action="RegisterDetails" asp-route-sid="@ViewData["studentId"]" asp-route-cid="@item.courseId">View Course</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</body>
</html>