@model cReg_WebApp.Models.entities.Course

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Course</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.courseName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.courseName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.courseId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.courseId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.courseDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.courseDescription)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", Model) |
    @Html.ActionLink("Delete", "Delete", Model) |
    <a asp-action="Index">Back to List</a>
</div>
