@model cReg_WebApp.Models.ViewModels.CourseViewModels.CourseViewModel

@{
    ViewData["Title"] = "RegisterDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Name"] = @Model.thisCourse.courseName;
}

<h1>Details</h1>
<div>
    <h4>Course</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.thisCourse.courseName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.thisCourse.courseName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.thisCourse.courseId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.thisCourse.courseId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.thisCourse.courseDescription)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.thisCourse.courseDescription)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.thisCourse.date)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.thisCourse.date)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.avaliableSpace)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.avaliableSpace)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.rate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.rate)
        </dd>
    </dl>
</div>
<table class="table">
    <tr>
        <th>
            Comments
        </th>
        <th>
            @Html.DisplayFor(modelItem => Model.commentNum)
        </th>
        <th></th>
    </tr>

    @foreach (var keyPair in Model.keyParis)
    {
        <tr>
            <th>
                @Html.DisplayFor(modelItem => keyPair.Key)
            </th>
            <td>
                @Html.DisplayFor(modelItem => keyPair.Value)
            </td>
        </tr>
    }

</table>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script type="text/javascript">
    function Confirm(){
        if (confirm("Do you want to drop course?")){
            location.href = "/Course/Drop?eid=@Model.enrollId";//@Url.Action("Drop", "course", new { eid = @Model.enrollId });
        }else{
            return false;
        }
    }
</script>
<div>
    <input type="button" onclick="Confirm()" class="btn btn-primary" value="Drop" />
</div>




