@model cReg_WebApp.Models.ViewModels.CourseViewModel;

@{
    ViewData["Title"] = "RegisterDetails";
    ViewData["Name"] = @Model.user.name;
    ViewData["studentId"] = @Model.user.studentId;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>
@ViewBag.message
<div>
    <h4>Course</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.thisCourse.courseName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.thisCourse.courseName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.thisCourse.courseId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.thisCourse.courseId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.thisCourse.courseDescription)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.thisCourse.courseDescription)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.thisCourse.date)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.thisCourse.date)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.avaliableSpace)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.avaliableSpace)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.rate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.rate)
        </dd>
    </dl>
</div>
<table class="table">
    <tr>
        <th>
            Comments
        </th>
        <th>
            @Html.DisplayFor(modelItem => Model.commentNum)
        </th>
        <th></th>
    </tr>

    @foreach (var keyPair in Model.keyParis)
    {
        <tr>
            <th>
                @Html.DisplayFor(modelItem => keyPair.Key)
            </th>
            <td>
                @Html.DisplayFor(modelItem => keyPair.Value)
            </td>
        </tr>
    }

</table>
<div>
    <h4><a asp-controller="Course" asp-action="Register" asp-route-sid="@Model.user.studentId" asp-route-cid="@Model.thisCourse.courseId">Register</a></h4>
</div>



